body {
  background-color: antiquewhite;
  color:black;
  font-size: 19px;
  min-height:100vh;
  display: flex;
  flex-direction: column;
}

.logo img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.column {
  box-sizing: border-box;
  float: left;
  width: 7;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.content {
  width: 50%;
}

.footer {
  background-color: floralwhite;
  color: white;
  text-align: left;
  margin-top: auto;
  padding: 1px;
  height: 70px;
}
h1,h2{
  color: grey;
}

.copyright {
  color: black;
}

/*.footer {
  position: absolute;
  bottom: 0;
}*/
/*The above code also sets  the footer to set at the bottom */

